body{
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

a {
    /* Cho phép phần tử 
    <a> có thể đặt padding, width, height 
    như một khối (khác với mặc định inline). */
    display: inline-block; 
    margin-top: 16px;
    padding: 8px 16px;
    border: 2px solid #000;
    border-radius: 999px;
    color: #000;
    /* Xóa gạch dưới mặc định của liên kết. */
    text-decoration: none;
    font-weight: 600;
    /* Tạo hiệu ứng chuyển mượt khi hover, kéo dài 0.25 giây. */
    transition: ease 0.25s;
}

a:hover {
    color: #fff;
    background-color: #000;
}