
html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 50px;
}

.item {
  margin-bottom: 10px;
}

.button {
  width: 100px; /* Set button width to 50px */
  height: 40px; /* Set button height to 50px */
  font-size: 20px; /* Increase font size for better readability */
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn_rm {
   width: 100px; /* Set button width to 50px */
  height: 40px; /* Set button height to 50px */
  font-size: 20px;  
  padding: 10px 15px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.cart {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

